{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-50">
  <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md form-style">
    <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Login</h2>

    <form id="loginForm" class="space-y-6">
      {% csrf_token %}
      <div>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" placeholder="Enter your username" required>
      </div>

      <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Enter your password" required>
      </div>

      <button type="submit"
        class="w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition duration-200">
        Login
      </button>
    </form>

    <p class="mt-4 text-center text-gray-600">
      Don't have an account? 
      <a href="{% url 'main:register' %}" class="text-green-600 hover:underline">Register</a>
    </p>
  </div>
</div>

<script >
  document.getElementById("loginForm").addEventListener("submit", async (e) => {
    e.preventDefault();

    const form = e.target;
    const formData = new FormData(form);

    try {
      const response = await fetch("{% url 'main:login_ajax' %}", {
        method: "POST",
        headers: { "X-CSRFToken": formData.get("csrfmiddlewaretoken") },
        body: formData,
      });

      const data = await response.json();

      if (data.success) {
        //alert("Login successful! Redirecting...");
        setTimeout(() => {
        window.location.href = "{% url 'main:show_main' %}";
        }, 1500);
        showLoginToast(true);
      } else {
        showLoginToast(false);
        //alert("❌ " + data.error);
      }
    } catch (error) {
      console.error(error);
      alert("An error occurred during login.");
    }
  });
</script>
{% endblock %}