{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-50">
  <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md form-style">
    <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Register</h2>

    <form id="registerForm" class="space-y-6">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit"
        class="w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition duration-200">
        Register
      </button>
    </form>

    <p class="mt-4 text-center text-gray-600">
      Already have an account? 
      <a href="{% url 'main:login' %}" class="text-green-600 hover:underline">Login</a>
    </p>
  </div>
</div>

<script>
  document.getElementById("registerForm").addEventListener("submit", async (e) => {
    e.preventDefault();

    const form = e.target;
    const formData = new FormData(form);

    try {
      const response = await fetch("{% url 'main:register_ajax' %}", {
        method: "POST",
        headers: { "X-CSRFToken": formData.get("csrfmiddlewaretoken") },
        body: formData,
      });

      const data = await response.json();

      if (data.success) {
        //alert("Account created successfully! Redirecting to login...");
        showRegisterToast();
        setTimeout(() => {
        window.location.href = "{% url 'main:login' %}";
        }, 1500);
        
      } else {
        showRegisterToast(false);
        //alert("⚠️ " + data.error);
      }
    } catch (error) {
      console.error(error);
      alert("An error occurred during registration.");
    }
  });
</script>
{% endblock %}
